
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py
anaconda_projects

# Remove previous ipynb_checkpoints
#git rm -r --cached .ipynb_checkpoints/
#git rm -r --cached anaconda_projects